{% extends travel_wishlist/base.html %}

{% block content %}
    <div class = "place">
        <div class = "Place_to_visit">
            <h1>{{ place.name }}</h1>
            {% if place.visited is True %}
                <p>Visited on {{ place.date_visited}}</p>
            <br>
                <p>{{ place.note|linebreaks }}</p>
            {% else %}
                <form method="POST" class="Place_to_visit_form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>
                {% endif %}
        </div>
    </div>
{% endblock %}
